html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  display: block;
}
#infoDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
  text-wrap: 0;
  white-space: nowrap;
}
#objectInfoFlex {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: flex-start;
  overflow-wrap: 0;
}
#objectInfoFlex > * {
  width: 250px;
}
#infoDiv > * {
  font-size: 10px;
  display: inline;
  border: 1px black solid;
  padding: 5px;
}
#infoDiv > * > * {
  font-size: 10px;
}
#infoDiv > * > input {
    width: 40px;
}
#material {
  height: 17px;
}
#object {
  height: 17px;
}
#placementRadius {
  height: 17px;
}
#mode {
  height: 17px;
}